<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

  <div class="container" id="app">
    <div class="card">
      <h1>План по изучению Vue.js</h1>
      <div class="steps">
        <div class="steps-content">
          {{ steps[activeIndex].text }}
        </div>
        <ul class="steps-list">
          <li class="steps-item" v-for="(step, i) in steps" @click="activeIndex = i" :class="{ done: activeIndex > i, active: activeIndex === i }">
            <span>{{ i + 1 }}</span>{{ step.title }}</li>
          </li>
        </ul>
        <div v-if="!finishing">
          <button class="btn" :disabled="!activeIndex" :onClick="prev">Назад</button>
          <button class="btn primary" :onClick="next"><span v-if="activeIndex < steps.length - 1">Вперед</span><span v-else>Закончить</span></button>
        </div>
        <div v-else>
          <button class="btn" @click="reset">Начать заново</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
